<div id="photos">
	<nav id="side-nav" role="navigation">
		<div>
			<div class="nav"><a  href="#happy-photo" title="Happy Headshots">Happy</a></div>
			<div class="nav"><a  href="#product-photo" title="Product Photos">Commercial</a></div>
			<div class="nav"><a  href="#action-photo" title="Action Photos">Action</a></div>
			<div class="nav"><a  href="#comedy-photo" title="Comedy Photos">Comedy</a></div>
			<div class="nav"><a  href="#drama-photo" title="Dramatic Photos">Dramatic</a></div>
		</div>
	</nav>
	<div id="photo-top" class="group wrapper">
		<div id="title-headshots"><h1>PHOTOS</h1></div>

  </div>
	<div class="group wrapper" id="happy-photo">
		<h2>Happy</h2>
		<ul>
			<li><%=image_tag image_aws("happy.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("happytwo.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("alert.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>	
			</li>
			<li>
				<%=image_tag image_aws("headon.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("headshot.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>
			</li>
			<li>
				<%=image_tag image_aws("real.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>	
		</ul>
	</div>
	<div class="group wrapper" id="product-photo">
		<h2>Commercial</h2>
		<ul>
			<li>
				<%=image_tag image_aws("barbell.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>
			</li>
			<li>
				<%= image_tag image_aws("angrybird1.jpg")%>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("angrybird2.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("kongad.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Alessandro DeSogos", "http://doggieportrait.com/", class: "photo-btn", target: "_blank" %>
				</div>
			</li>
			<li>
				<%=image_tag image_aws("ninjatoy.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("monkeylove.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
		</ul>
	</div>
	<div class="group wrapper" id="action-photo">
		<h2>Action</h2>
		<ul>
			<li>
				<%=image_tag image_aws("actiontoy.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Alessandro DeSogos", "http://doggieportrait.com/", class: "photo-btn", target: "_blank" %>
				</div>
			</li>
			<li>
				<%=image_tag image_aws("midshake.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Alessandro DeSogos", "http://doggieportrait.com/", class: "photo-btn", target: "_blank" %>
				</div>
			</li>
			<li>
				<%=image_tag image_aws("howl.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>
			</li>
			<li>
				<%=image_tag image_aws("predig.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Alessandro DeSogos", "http://doggieportrait.com/", class: "photo-btn", target: "_blank" %>
				</div>
			</li>
			<li>
				<%=image_tag image_aws("wave.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("jump.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>
			</li>
		</ul>
	</div>
	<div class="group wrapper" id="comedy-photo">
		<h2>Comedy</h2>
		<ul>
			<li>
				<%=image_tag image_aws("oneeye.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("upsidedown2.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Sam Willard", "http://www.samwillardphoto.com/", class: "photo-btn", target: "_blank" %></div>
			</li>
			<li>
				<%=image_tag image_aws("worldview.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("NOSE.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("TreatonNose.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("wetdog.jpg") %>
				<div class="insert"><p>Photo by</p><%= link_to "Alessandro DeSogos", "http://doggieportrait.com/", class: "photo-btn", target: "_blank" %>
				</div>
			</li>
		</ul>
	</div>
	<div class="group wrapper" id="drama-photo">
		<h2>Drama</h2>
		<ul>
			<li>
				<%=image_tag image_aws("demure.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("serioushalloween.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("waiting.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("noseart1.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("side1.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
			<li>
				<%=image_tag image_aws("sleepl.jpg") %>
				<div class="insert"><p>Photo by</p> <a>Lisa Friedman</a></div>
			</li>
		</ul>
	</div>
</div>