<div id="photo-nav">
  <ul>
      <li><%= link_to image_tag(image_aws("happydog.png")), "#happy-photo", class:"hover"%>Happy</li>
      <li><%= link_to image_tag(image_aws("product.png")), "#product-photo", class:"hover"%>Product</li>
      <li><%= link_to image_tag(image_aws("action.png")), "#action-photo", class:"hover"%>Action</li>
      <li><%= link_to image_tag(image_aws("comedy.png")), "#comedy-photo", class:"hover"%>Comedy</li>
      <li><%= link_to image_tag(image_aws("drama.png")), "#drama-photo", class:"hover"%>Drama</li>
  </ul>
</div>	