<p id="sent"><%= flash[:notice] %></p>
<div id="container-header">
	<header id="masthead" class="wrapper">
		<div class="mhtitle">

			<h1> Super Dog</h1>
			<h2>Actor, Model & Best Friend</h2>
		</div>
	</header>
</div>
<div id="container-content">
	<div id="videos">
		<%= render 'videophone' %>
  	<div class="video-show">
			<div class="video-main group wrapper">
				<%= render 'videos' %>
			</div>
		</div>
	</div>
	<section id="headshots">
		<%= render 'photos'%>
	</section>
</div>

<div id="container-footer">
	<div id="contact">
		<%= render 'form' %>
	</div>
	<footer id="colophon" class="wrapper">
		<p>by Lisa Friedman</p>
		<p>©2013 all rights reserved. </p>
	</footer>
	<div id="toplink"><a href="#nav" class="hover">TOP</a></div>
</div>	
